.container {
    border-radius: 20px;
}
.shared div {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
    max-width: 100%;
    
}
.shared .close {
    cursor: pointer;
}
.hide {
    display: none;
}
.container:hover .hide {
    display: inline-block;
}